/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
/* vietnamese */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v5/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x7T2kn3.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v5/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v5/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bellefair/v6/kJExBuYY6AAuhiXUxG1N-vo3lOc.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bellefair/v6/kJExBuYY6AAuhiXUxG1N9vo3lOc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bellefair/v6/kJExBuYY6AAuhiXUxG1N-Po3.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHpv4kjgoGqM7E_A8s52Hs.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHpv4kjgoGqM7E_DMs5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* TYPO */
body {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
}

nav, nav a, .nav-text {
  font-family: "Barlow condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.destination-link, .nav-text {
  color: #D0D6F9;
}

.destination-link:hover, .destination-link.active {
  color: #ffffff;
}

h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h3 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 3.9vw;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h4 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #D0D6F9;
}

h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vw;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
}

.subhead_main {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #D0D6F9;
}

.subhead1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subhead2 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}

.explore-btn {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
}

/* LAYOUTS */
.mainBody {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: calc(96px + 40px);
}

.homeBody {
  background: url("../images/home/background-home-desktop.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 251px 0 131px 0;
}

.destinationBody {
  background: url("../images/destination/background-destination-desktop.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 76px 0 112px 0;
}

.crewBody {
  background: url("../images/crew/background-crew-desktop.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 76px 0 94px 0;
}

.techBody {
  background: url("../images/technology/background-technology-desktop.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 76px 0 214px 0;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  position: absolute;
  top: 40px;
  right: 0;
  width: 96%;
  z-index: 99;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 48px;
  height: 48px;
}

.logo img {
  width: 100%;
}

.line {
  width: 34%;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin: 0 -30px 0 64px;
  width: 473px;
  z-index: 1;
}

nav {
  width: 830px;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81px);
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav ul:not(.destination-nav ul) {
  width: 65.3%;
}

nav ul li span {
  display: inline-block;
  margin-right: 11px;
  font-weight: 700;
}

nav ul li a {
  position: relative;
  padding: 0;
}

nav ul li a:hover {
  background: transparent;
}

nav ul li a::after, nav ul li .router-link-active.router-link-exact-active::after, nav ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -38px;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 3px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  -o-transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
}

nav ul li a:hover::after, nav ul li .router-link-active.router-link-exact-active::after, nav ul li a.active::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
  transform: translate3d(0, 0.2em, 0);
}

nav ul li a::after, nav ul li .router-link-active.router-link-exact-active::after, nav ul li a.active::after {
  opacity: 1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

nav ul li a:hover::after, nav ul li .router-link-active.router-link-exact-active::after, nav ul li a.active::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.sidenav-trigger, .sidenav-close {
  display: none;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 77%;
  }
}
.home h1 {
  padding: 24px 0;
}

.explore {
  background: #ffffff;
  width: 274px;
  height: 274px;
  line-height: 274px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.explore-btn {
  border: none;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
}

.explore:hover {
  -webkit-box-shadow: 0px 0px 4px 80px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 4px 80px rgba(255, 255, 255, 0.1);
}

.present {
  width: 450px;
}

.home.container, .destination {
  display: flex;
  justify-content: space-between;
}

.home.container {
  align-items: flex-end;
}

.page-numbers {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
  margin-right: 24px;
}

.destination {
  align-items: center;
  padding-top: 64px;
}

.destination-nav {
  background: transparent;
  backdrop-filter: blur(0);
  height: 34px;
  width: 100%;
  margin-bottom: 37px;
}

.destination-nav ul {
  margin: 0;
}

.destination-nav ul li {
  margin-right: 35px;
  margin-left: 0;
}

.destination-nav ul li a::after, .destination-nav ul li a.active::after {
  bottom: -12px;
}

.destination-img {
  margin: 33px 20px 0 0;
}

.destination-infos {
  width: 445px;
}

.destination-technical {
  display: flex;
  align-items: center;
  margin-top: 54px;
  padding-top: 28px;
  border-top: solid 1px #383B4B;
}

.travel {
  margin-left: 5.487vw;
}

.destination .subhead2 {
  padding-bottom: 12px;
}

.nav-controls {
  display: flex;
  align-items: center;
}

.tech .nav-controls {
  flex-direction: column;
  margin: 0 80px 0 0;
}

.crew .nav-controls {
  margin: 8.334vw 0 0 0;
}

.crew .nav-controls li {
  padding-right: 24px;
}

.dot {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.crew .dot {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.17);
}

.tech .dot {
  width: 5.56vw;
  height: 5.56vw;
  line-height: 5.56vw;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 2.4vw;
}

.tech li:not(:first-child) {
  margin-top: 32px;
}

.dot.active {
  background-color: white;
  color: #0B0D17;
}

.crewBody, .techBody {
  position: relative;
}

.crew-infos {
  padding-top: 10.702vw;
}

#crew-bio {
  width: 40%;
}

#crew-name {
  padding: 1.0424vw 0 1.877vw 0;
}

.crew-img {
  position: absolute;
  right: 9.5%;
  bottom: 0;
}

#crew-bio, #tech-description {
  font-size: 1.25vw;
  line-height: 2.342vw;
}

.tech-element {
  display: flex;
  padding-top: 9.52vw;
}

#tech-title {
  padding: 0.77vw 0 1.19vw 0;
}

#tech-description {
  width: 32.64vw;
}

.tech-img {
  position: absolute;
  width: 35.76%;
  top: 30%;
  right: 0;
}

.tech-img img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  nav ul li span {
    display: none;
  }

  .crewBody {
    padding: 40px 0 572px 0;
  }

  #crew-bio {
    font-size: 16px;
    line-height: 28px;
  }

  .crew .nav-controls {
    margin: 40px 0 0 0;
    justify-content: center;
  }

  .crew .nav-controls li {
    padding-right: 16px;
  }

  .crew .dot {
    width: 10px;
    height: 10px;
  }

  .crew-infos {
    padding-top: 60px;
    text-align: center;
  }

  #crew-bio {
    width: 458px;
    margin: 0 auto;
  }

  #crew-name {
    padding: 8px 0 16px 0;
  }

  .crew-img {
    right: 0;
    bottom: -40px;
    height: 572px;
    width: 100%;
  }

  .crew-img img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 890px) {
  .homeBody {
    padding: 106px 0 90px 0;
  }

  .destinationBody {
    padding: 40px 0 62px 0;
  }

  .techBody {
    padding: 40px 0 97px 0;
  }

  .main {
    padding-top: 96px;
  }

  .line {
    display: none;
  }

  body, #tech-description {
    font-size: 16px;
    line-height: 28px;
  }

  h1 {
    line-height: 150px;
  }

  h2 {
    font-size: 80px;
    line-height: 92px;
  }

  h3 {
    font-size: 40px;
    line-height: 46px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  h5 {
    font-size: 24px;
    line-height: 38px;
  }

  .subhead_main {
    font-size: 20px;
    line-height: 24px;
  }

  header {
    top: 0;
  }

  nav {
    width: 450px;
  }

  nav ul:not(.destination-nav ul) {
    width: auto;
  }

  nav ul li {
    margin: 0 18px;
  }

  header nav ul li a {
    font-size: 14px;
    line-height: 17px;
  }

  .page-numbers {
    margin-right: 16px;
  }

  .destination-nav ul {
    margin: 0 auto;
  }

  .destination-nav ul li {
    margin: 0 18px;
  }

  .home.container, .destination, .tech-element {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .explore {
    width: 242px;
    height: 242px;
    margin-top: 156px;
    line-height: 242px;
  }

  .destination-infos {
    width: 573px;
  }

  .destination-img {
    width: 300px;
    margin: 60px 0 53px 0;
  }

  .destination-img img {
    width: 100%;
  }

  .destination-technical {
    justify-content: space-around;
    margin-top: 49px;
  }

  .travel {
    margin-left: 0;
  }

  .nav-controls {
    justify-content: center;
  }

  #tech-description {
    width: 458px;
  }

  .tech-element {
    padding-top: 0;
  }

  #tech-title {
    padding: 16px 0 16px 0;
  }

  .tech .nav-controls {
    flex-direction: row;
    justify-content: center;
    margin: 426px 0 44px 0;
  }

  .tech .dot {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }

  .tech li:not(:first-child) {
    margin-top: 0;
    padding-left: 16px;
  }

  .tech-img {
    top: 220px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .homeBody {
    background: url("../images/home/background-home-tablet.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .destinationBody {
    background: url("../images/destination/background-destination-tablet.jpg") no-repeat center;
    background-size: cover;
  }

  .crewBody {
    background: url("../images/crew/background-crew-tablet.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .techBody {
    background: url("../images/technology/background-technology-tablet.jpg") no-repeat center fixed;
    background-size: cover;
  }
}
@media screen and (max-width: 685px) {
  .main {
    padding-top: 96px;
  }

  body, #tech-description, #crew-bio {
    font-size: 15px;
    line-height: 25px;
  }

  .homeBody {
    padding: 48px 0 48px 0;
  }

  .destinationBody {
    padding: 24px 0 58px 0;
  }

  .crewBody {
    padding: 24px 0 104px 0;
  }

  .techBody {
    padding: 24px 0 81px 0;
  }

  h1 {
    font-size: 80px;
    line-height: 100px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
  }

  h5 {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .subhead_main {
    font-size: 16px;
    line-height: 19px;
  }

  header {
    top: 0;
    height: auto;
    width: 100%;
    padding: 24px 0 0 0;
  }

  .main {
    padding-top: 64px;
  }

  .home h1 {
    padding: 16px 0;
  }

  .present {
    width: 327px;
  }

  .explore {
    width: 150px;
    height: 150px;
    margin-top: 81px;
    line-height: 150px;
  }

  .explore:hover {
    -webkit-box-shadow: 0px 0px 4px 40px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 4px 40px rgba(255, 255, 255, 0.1);
  }

  .explore-btn {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-left: 24px;
  }

  nav:not(.destination-nav) {
    display: block;
    position: fixed;
    overflow: hidden;
    height: 0;
    width: 254px;
    top: 0;
    right: 0;
    transition: height 0.3s ease-in-out;
  }

  nav:not(.destination-nav) ul {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 46px;
  }

  nav:not(.destination-nav) ul li {
    width: 100%;
    margin: 0 32px;
  }

  nav:not(.destination-nav) ul li a {
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
  }

  .destination-nav ul li a, .nav-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3px;
  }

  nav ul li span {
    display: inline-block;
  }

  nav:not(.destination-nav) ul li a::after, nav:not(.destination-nav) ul li .router-link-active.router-link-exact-active::after {
    bottom: 25%;
    right: 33px;
    height: 31px;
    width: 3px;
  }

  .sidenav-trigger, .sidenav-close {
    display: flex;
    justify-content: flex-end;
  }

  .sidenav-trigger {
    margin-right: 33px;
  }

  .sidenav-close {
    margin: 34px 26px 0 0;
  }

  .destination {
    padding-top: 32px;
  }

  .destination-nav {
    margin-bottom: 20px;
    height: 28px;
  }

  .destination-img {
    margin: 0 0 26px 0;
    width: 170px;
    height: 170px;
  }

  .destination-infos {
    width: 327px;
  }

  .destination-technical {
    flex-direction: column;
    margin-top: 32px;
    padding-top: 32px;
  }

  .distance {
    padding: 0 0 32px 0;
  }

  .crew-img {
    bottom: 0;
    top: 139px;
    height: 223px;
    border-bottom: 1px solid #383B4B;
  }

  .crew-infos {
    display: flex;
    flex-direction: column;
    padding-top: 287px;
  }

  .crew .nav-controls {
    margin: 0 0 32px 0;
    order: -1;
    height: 10px;
  }

  #crew-bio, #tech-description {
    width: 327px;
  }

  .tech-img {
    top: 139px;
    height: 170px;
  }

  .tech-img img {
    height: 100%;
    object-fit: cover;
  }

  .tech .nav-controls {
    margin: 236px 0 26px 0;
  }

  .tech .dot {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  #tech-title {
    padding: 9px 0 16px 0;
  }
}
@media screen and (max-width: 375px) {
  .homeBody {
    background: url("../images/home/background-home-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .destinationBody {
    background: url("../images/destination/background-destination-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .crewBody {
    background: url("../images/crew/background-crew-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .techBody {
    background: url("../images/technology/background-technology-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
